<div cla="row">
	<div class="col-sm-12 col-md-8 offset-md-2">
		<div class="form-group">
			<label >Account Name</label>
			<input type="text" class="form-control" #accountName >
		</div>

			<div class="form-group">
				<label>Select Status</label>
				<select class="form-control" #accountStatus>
          <option value='Active'>Active</option>
          <option value='In Active'>In Active</option>
          <option value='Hidden'>Hidden</option>
        </select>
			</div>
      <button class="btn btn-primary" (click)="onCreateAccount(accountName.value, accountStatus.value)">Add Account</button>
		</div>
	</div>